<html>
  <head>
    <title>Belajar Vue JS</title>
    <style media="screen">
      .jb{
        width: 40px;
        text-align: center;
      }
      .modal{
        width: 25%;
        position: fixed;
        background-color: #eaeaea;
        right:0;
        height: 100vh;
        top:0;
        padding: 15px;
        overflow: scroll;
      }
      .modal .button{
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0 ,0 , 0.5);
        border: 1px solid #eaeaea;
        padding: 4px 10px 4px 10px;
        transition: transform  1s;
        color: white;
      }
      .modal .button:hover{
        transform: rotate(360deg);
      }
      .modal h1{
        text-align: center;
        color: #333;
      }
      .barang{
        width: 20%;
        float: left;
      }
      .barang h3{
        margin-bottom: 0;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>
        Hai Selamat Datang
      </h1>
      <table border="1px">
        <tr>
          <td>No</td>
          <td>Nama Barang</td>
          <td>Stock</td>
          <td>Harga Modal</td>
          <td>Harga Jual</td>
          <td>Terjual</td>
          <td>Sisa Stock</td>
          <td>Keuntungan</td>
          <td v-if="jumlah > 1">Action</td>
        </tr>
        <tr v-for="(penjualan,key) in penjualan" v-on:keyup.enter="tambah(key)">
          <td>{{key+1}}</td>
          <td v-on:click="tampilkan(key)" v-on:keyup.enter="hilangkan(key)"><input type="text" v-model="penjualan.nama" v-if="penjualan.tampil"><p v-else>{{penjualan.nama}}</p></td>
          <td v-on:click="tampilkan(key)" v-on:keyup.enter="hilangkan(key)"><input type="number" v-bind:min="0" v-model.number="penjualan.stock" v-if="penjualan.tampil"><p v-else>{{penjualan.stock}}</p></td>
          <td v-on:click="tampilkan(key)" v-on:keyup.enter="hilangkan(key)"><input type="number" v-bind:min="0" v-model.number="penjualan.modal" v-if="penjualan.tampil"><p v-else>Rp.{{penjualan.modal}}</p></td>
          <td v-on:click="tampilkan(key)" v-on:keyup.enter="hilangkan(key)"><input type="number" v-bind:min="0" v-model.number="penjualan.jual" v-if="penjualan.tampil"><p v-else>Rp.{{penjualan.jual}}</p></td>
          <td v-on:click="tampilkan(key)" v-on:keyup.enter="hilangkan(key)"><input type="number" v-bind:min="0" width="100%" v-bind:max="penjualan.stock" v-model.number="penjualan.terjual" v-if="penjualan.tampil"><p v-else>{{penjualan.terjual}}</p></td>
          <td>{{penjualan.stock-penjualan.terjual}}</td>
          <td>Rp.{{(penjualan.jual-penjualan.modal)*penjualan.terjual}}</td>
          <td v-if="jumlah > 1"><button v-on:click="hapus(penjualan)">Hapus</button></td>
        </tr>
      </table>
      <h3 style="color:red;">Jika selesai menginputkan satu barang klik enter untuk menyimpan</h3>
      <hr />
      <h1>Terbaru</h1>
      <p>Harga Modal = Rp {{harga_jual}}</p>
      <button v-on:click="kBeli()">-</button>
      <input class="jb" type="number" v-model="jumlah_beli" min="0">
      <button v-on:click="tBeli()">+</button>
      <p>Total Harga = Rp {{totalPenjualan()}}</p>
      <p>Total Keuntungan = Rp {{totalPenjualan()-total}}</p>
      <h1>Terbaru 2</h1>
  <!-- use the modal component, pass in the prop -->
    <div class="modal" v-if="showModal">
      <button class="button" @click="showModal=false"> X </button>
      <h1>Keranjang Belanja</h1>
      <div v-for="(jualan,key) in transfers">
        <h3>Nama Barang: {{jualan.nama}}</h3>
        <p>Harga Barang: {{"Rp "+jualan.jual}}</p>
        <button @click="deleted(key,jualan.id)">delete</button>
      </div>
    </div>

    <h1>Barang</h1>
      <div v-for="(penjualan,key) in penjualan">
        <div class="barang" v-if="tampBarang">
          <h3>Nama Barang: {{penjualan.nama}}</h3>
          <p>Harga Barang: {{"Rp. "+penjualan.jual}}</p>
          <button @click="addTroll(key),showModal = true">Tambahkan Kekeranjang</button>
        </div>
      </div>
      <div ref="myid"></div>
    </div>
  <script src="vue.js"></script>
  <script>
    var vo= new Vue({
      el:'#app',
      data:{
          tampBarang:false,
          showModal:false,
          search:"",
          nama:["syarif1","syarif2","syarif3"],
          penjualan:[
            {id:0,nama: null,tampil:true,stock:0,modal:0,jual:0,terjual:0,register:false},
          ],
          jumlah_beli:0,
          harga_jual:1950,
          mod: 100,
          total_penjualan:null,
          total:null,
          transfers:[]
      },
      methods:{
        deleted:function(index,id){
          var data=this.penjualan.filter(row => row.id == id)
          data[0].register=false
          this.transfers.splice(index,1)
        },
        addTroll: function(index){
          if (this.penjualan[index].register==false) {
            this.penjualan[index].register=true
            this.transfers.push(this.penjualan[index])
          }
        },
        totalPenjualan :function(){
          this.total=this.jumlah_beli*this.harga_jual;
          if(this.total % this.mod){
            // return this.total_penjualan= (Math.floor(this.total/this.mod)+1)*this.mod;
            return this.total_penjualan= Math.ceil(this.total/this.mod)*this.mod;
          }else{
            return this.total_penjualan= this.total;
          }
        },
        tampilkan: function(index){
          this.penjualan[index].tampil=true;
        },
        hilangkan: function(index){
          this.penjualan[index].tampil= false;
          this.tampBarang= true;
        },
        tambah: function(index){
          this.penjualan.push({id:this.penjualan[index].id+1,nama:null,tampil:false,stock:0,modal:0,jual:0,terjual:0,register:false})
        },
        tBeli: function(){
          this.jumlah_beli++;
        },
        kBeli:function(){
          if(this.jumlah_beli >= 1){
            this.jumlah_beli--;
          }else{
            this.jumlah_beli=0;
          }
        },
        hapus:function(penjualan){
          const index = this.penjualan.indexOf(penjualan);
          this.penjualan.splice(index,1);
        }
      },
      computed:{
        jumlah: function (){
          return this.penjualan.length;
        },
      }
    });
  </script>
  </body>
</html>
