<html>
  <head>
    <title>Belajar Vue JS</title>
  </head>
  <body>
    <div id="app">
      <table border="1px">
        <tr>
          <td>No</td>
          <td>Nama Barang</td>
          <td>Stock</td>
          <td>Harga Modal</td>
          <td>Harga Jual</td>
          <td>Terjual</td>
          <td>Sisa Stock</td>
          <td>Keuntungan</td>
        </tr>
        <tr v-for="(penjualan,key,index) in penjualan" v-on:keyup.enter="tambah">
          <td>{{key+1}}</td>
          <td v-on:click="tampilkan(key)" v-on:keyup.enter="hilangkan(key)"><input type="text" v-model="penjualan.nama" v-if="penjualan.tampil"><p v-else>{{penjualan.nama}}</p></td>
          <td v-on:click="tampilkan(key)" v-on:keyup.enter="hilangkan(key)"><input type="number" v-bind:min="0" v-model="penjualan.stock" v-if="penjualan.tampil"><p v-else>{{penjualan.stock}}</p></td>
          <td v-on:click="tampilkan(key)" v-on:keyup.enter="hilangkan(key)"><input type="number" v-bind:min="0" v-model="penjualan.modal" v-if="penjualan.tampil"><p v-else>Rp.{{penjualan.modal}}</p></td>
          <td v-on:click="tampilkan(key)" v-on:keyup.enter="hilangkan(key)"><input type="number" v-bind:min="0" v-model="penjualan.jual" v-if="penjualan.tampil"><p v-else>Rp.{{penjualan.jual}}</p></td>
          <td v-on:click="tampilkan(key)" v-on:keyup.enter="hilangkan(key)"><input type="number" v-bind:min="0" width="100%" v-bind:max="penjualan.stock" v-model="penjualan.terjual" v-if="penjualan.tampil"><p v-else>{{penjualan.terjual}}</p></td>
          <td>{{penjualan.stock-penjualan.terjual}}</td>
          <td>Rp.{{(penjualan.jual-penjualan.modal)*penjualan.terjual}}</td>
        </tr>
      </table>
      <h3 style="color:red;">Jika selesai menginputkan satu barang klik enter untuk menyimpan</h3>
    </div>
  <script src="vue.js"></script>
  <script>
    var vo= new Vue({
      el:'#app',
      data:{
          penjualan:[
            {nama: null,tampil:false,stock:null,modal:null,jual:null,terjual:null,},
          ]
      },
      methods:{
        tampilkan: function(index){
          this.penjualan[index].tampil=true

        },
        hilangkan: function(index){
          this.penjualan[index].tampil= false
        },
        tambah: function(){
          this.penjualan.push({nama:null,tampil:false,stock:null,modal:null,jual:null,terjual:null,})
        }
      }
    });
  </script>
  </body>
</html>
